.ClassList {
    justify-content: center;
    text-align: center;
    align-items: center;
}


.ClassListTitle {
    margin-top: 30px;
    font-size: 40px;
    left: 44%;
    font-weight: bold;
}

.LogoutButton {
    left: 50px;
    top: 40px
}