.GroupChat {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.GroupChatTitle {
    margin-top: 25px;
    font-size: 40px;
    left: 43%;
    font-weight: bold;
}

.TitleTextGC {
    text-align: center;
    color: rgb(114, 8, 179);
}

.GCMenu {
    right: 50px;
    top: 40px
}

.CourseReminder {
    top: 20%;
    left: 42%;
}

.CurrCourseText {
    color: rgb(27, 37, 226);
    font-weight: bold;
}

.GroupChatComponent {
    top: 40%;
    left: 40%
}

.ChatRoomButton {
    margin-left: 10px;
}

.BoldText {
    font-weight: bold;
}

.ChatAlert{
    position: absolute;
    bottom: 0px;
    width: 35%;
    left: 33%;
}